@import "shared/styles/config";

table.table {
  width: 100%;

  background-color: $darkblue;
  color: $white;
  font-size: 1rem;
  border-collapse: collapse;

  box-shadow: 0 0 2rem -1rem black;

  & > thead {
    background-color: $darkblue;

    & > tr {
      & > th {
        & > div {
          width: 100%;
          height: 2em;

          display: flex;
          align-items: center;
          justify-content: center;

          border-top: solid 1px;
          border-bottom: solid 1px;
          border-color: $blue;
          cursor: pointer;
          transition: 125ms;

          &:hover,
          &.active {
            background-color: $blue;
            border-color: $darkblue;
          }
        }
      }
    }
  }

  & > tbody {
    & > tr {
      border-bottom: groove 1px $blue;
      transition: background-color 125ms;

      &:hover {
        background-color: $blue;
        * {
          color: $white !important;
        }
      }

      & > td {
        & > div {
          width: 100%;
          height: 3.5em;
          padding: 0.75em 1vw 0.25em;

          display: flex;
          justify-content: center;
          flex-flow: column nowrap;
          flex: 1 1 100%;
          font-family: $sans;
          font-weight: normal;

          &.text {
            align-items: flex-start;
          }
          &.index {
            align-items: center;
            font-family: $mono;
            color: $blue;
          }
          &.number {
            align-items: flex-end;
            font-family: $mono;
          }
          &.bold {
            font-weight: bold;
          }

          & > div.sub {
            color: $blue;
            transition: color 125ms;
          }
        }
      }
    }
  }
}
