$darkblue: hsl(210, 30%, 10%);
$blue: hsl(209, 50%, 40%);
$gray: hsl(210, 15%, 15%);
$black: hsl(210, 15%, 5%);
$white: hsl(48, 15%, 94%);

$sans: proxima-nova, sans-serif;
$mono: aglet-mono, monospace;
