$darkblue: hsl(210, 94%, 13%);
$lightblue: hsl(209, 52%, 31%);
$gray: hsl(236, 18%, 35%);
$darkgreen: hsl(203, 49%, 23%);
$lightgreen: hsl(178, 36%, 27%);
$white: hsl(48, 15%, 94%);

$sans: proxima-nova, sans-serif;
$mono: aglet-mono, monospace;
