$darkblue: hsl(210, 30%, 13%);
$blue: hsl(209, 52%, 40%);
$gray: hsl(236, 18%, 35%);
$darkgreen: hsl(203, 49%, 23%);
$green: hsl(178, 36%, 27%);
$white: hsl(48, 15%, 94%);

$sans: proxima-nova, sans-serif;
$mono: aglet-mono, monospace;
