@import "config";

:focus {
  outline: none;
}

html {
  font-size: 16px;
}

body {
  background-color: $darkblue;
  color: $white;
  font-family: $sans;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover span {
    text-decoration: underline;
  }
}

button {
  font-family: $sans;
  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 125ms;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
  font-weight: normal;
}

main {
  width: 90vw;
  margin: 4em auto;
}

small {
  opacity: 0.5;
  font-size: 0.75em;
}
