@import "styles/config";

div.tableInfo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-flow: column nowrap;
  gap: 0.5em;

  & > div {
    width: 100%;
    display: flex;
    align-items: flex-end;
  }

  div.tableNote {
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  div.tableMisc {
    flex-flow: row nowrap;
    justify-content: flex-end;
    gap: 1.25vw;
  }
}

div.tableControls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

button.button {
  width: 10em;
  height: 2em;
  padding-top: 0.125em;

  background-color: $gray;
  border: solid 1px $blue;
  border-radius: 0.25em;

  color: $white;
  font-size: 0.875em;

  cursor: pointer;

  &:hover {
    background-color: $blue;
  }
  &:disabled {
    opacity: 0.25;
    pointer-events: none;
  }
}

div.tableContainer {
  position: relative;
  height: 30rem;
  overflow: auto;
  margin: 0.5rem 0;
  font-size: 1rem;
  border-bottom: solid 1px $blue;
  box-shadow: 0 0 5rem -2.5rem $black;

  table.table {
    width: 100%;

    background-color: $darkblue;
    color: $white;
    font-size: 1em;
    border-collapse: collapse;
    table-layout: fixed;
    min-width: 50rem;

    & > thead {
      & > tr {
        & > th {
          position: sticky;
          top: -1px;
          &:nth-of-type(2) {
            left: -1px;
            z-index: 5;
          }
          & > div {
            width: 100%;
            height: 2.5em;
            padding: 0.25em 1vw 0;

            display: flex;
            align-items: center;
            justify-content: center;

            border-bottom: solid 1px;
            border-color: $blue;
            background-color: $darkblue;

            cursor: pointer;
            transition: 125ms;

            &:hover,
            &.active {
              background-color: darken($color: $blue, $amount: 15);
            }
          }
        }
      }
    }

    & > tbody {
      & > tr {
        border-bottom: solid 1px $gray;
        transition: background-color 125ms;

        &:hover {
          & > td {
            background-color: darken($color: $blue, $amount: 15);
            * {
              color: $white !important;
            }
          }
        }

        &.link {
          cursor: pointer;
        }

        & > td {
          background-color: $darkblue;
          &:nth-of-type(2) {
            position: sticky;
            left: -1px;
            z-index: 4;
          }
          & > div {
            width: 100%;
            height: 3.5em;
            padding: 0.75em 1vw 0.25em;

            display: flex;
            justify-content: center;
            flex-flow: column nowrap;
            flex: 1 1 100%;
            font-family: $sans;
            font-weight: normal;

            &.text {
              align-items: flex-start;
            }
            &.index {
              align-items: center;
              font-family: $mono;
              color: $blue;
            }
            &.number {
              align-items: flex-end;
              font-family: $mono;
            }
            &.bold {
              font-weight: bold;
            }
            &.center {
              align-items: center;
              font-family: $mono;
            }

            & > div.sub {
              color: $blue;
              transition: color 125ms;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  button.button {
    font-size: 0.875rem;
  }

  div.tableInfo {
    font-size: 0.875rem;

    div.tableNote {
      font-size: 0.875em;
    }
  }

  div.tableContainer {
    font-size: 0.875rem;

    table.table {
      table-layout: auto;
      & > thead {
        & > tr {
          & > th {
            & > div {
              width: 100%;
              height: 2.5em;
              padding: 0.25em 2em 0;
            }
          }
        }
      }

      & > tbody {
        & > tr {
          & > td {
            & > div {
              padding: 0.75em 2em 0.25em;
            }
          }
        }
      }
    }
  }
}
