@import "styles/config";

div.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 0.5vw;

  & > .card {
    height: 15rem;
    background-color: darken($color: $blue, $amount: 30);
    border-radius: 0.25em;
    border: solid 1px $blue;
    box-shadow: 0 0 5rem -3rem $black;
    transition: 125ms;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    gap: 0.5em;
    font-size: 1rem;
    &:hover {
      background-color: $darkblue;
    }
    & > .header {
      font-family: $sans;
      font-size: 1em;
    }

    & > .value {
      font-family: $mono;
      & > h2 {
        font-size: 2em;
      }
    }
  }
}
