* {
  transition-property: background-color, color;
  transition-duration: 50ms;
}

.MuiDataGrid-row {
  cursor: pointer;
}

.country-row-cell {
  text-decoration: underline;
  font-weight: bold;
  &:hover {
    color: #bb55ff;
  }
}
